@model Gallery.DataAccess.FactCustomer

<div class="page-title">Fact Customer</div>
<div class="row" id="viewModelWorkspace">
    <div class="col-md-12">
        <table class="table-condensed table-responsive">

        </table>
    </div>
</div>